############
## YOURLS
############

# Configuration
user/*
!user/config-sample.php
!user/*/
user/*/*
!user/*/.gitkeep
.htaccess
*.conf*
[Rr]obots.txt

# Core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/random-bg/
!user/plugins/geoip/
!user/plugins/sample-*/

# Core themes
!user/themes/sample-theme*/
!user/themes/full-bootstrap/

############
## Libraries
############

# Composer
composer.lock
installed.json

# Dev libs
phpunit/
whoops/

# Useless files
includes/vendor/*/*/*
includes/vendor/bin/
!includes/vendor/*/*/src/
!includes/vendor/*/*/library/
!includes/vendor/psr/log/Psr/

# Useful files
!README.md
!LICENSE*

############
## Environnement
############

# Windows
*umbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store

############
## Developpement
############

# Tests
[Cc]overage*
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio
*.sln
*.suo
*.phpproj*
/W[eE]*.*s*

# Temp
assets/css/*
!assets/css/yourls.min.css
assets/less/*.css

# Grunt
node_modules
__untyped__
bower_components
