<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="YOURLS Test Suite">
            <directory>tests/YOURLS/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">includes/YOURLS/</directory>
        </whitelist>
    </filter>
    <php>
        <!-- Install -->
        <server name="SERVER_SOFTWARE" value="TRAVIS APACHE"/>
        <!-- Stats data -->
        <server name="HTTP_USER_AGENT" value="Travis-CI (PHPUnit\4.0)"/>
        <server name="HTTP_HOST" value="travis-ci.org"/>
        <server name="HTTP_CLIENT_IP" value="10.10.10.1"/>
        <!-- Login -->
        <server name="REQUEST_URI" value="/"/>
        <request name="username" value="yourls"/>
        <request name="password" value="travis-ci-test"/>
        <!-- API -->
        <request name="format" value="simple"/>
    </php>
</phpunit>
